<footer class="site-footer">
  <!-- STICKY BOTTOM NAV -->
  <nav id="bottom-nav">
    <a href="#" onclick="show('contact-overlay','modal')">Want to work with me?</a>
  </nav>
</footer>
<!-- CONTACT FORM MODAL AND OVERLAY -->
<section id="contact-overlay" onclick="hide('contact-overlay','modal')">
</section>
  <div id="modal">
    <h2>I'd love to hear from you!</h2>
    <form action="http://formspree.io/jbabrams2@gmail.com"
method="POST" id="modal-form" class="plain">
    <!-- INPUTS ORGANIZED AS UNORDERED LIST -->
    <ul>
      <li>
        <label>Your name</label>
        <input type="text" name="name" id="modal-form-input" class="plain">
      </li>
      <li>
        <label>Your email</label>
        <input type="email" name="_replyto" id="modal-form-input" class="plain">
      </li>
      <li>
        <label>Your message</label>
        <textarea></textarea>
      </li>
      <li id="modal-form-submit">
        <div id="modal-form-submit-container">
          <input type="submit" value="Say Hi" id="modal-form-submit-container-button" class="plain">
        </div>
      </li>
    </ul>
    </form>
  </div>
</footer>
