/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

$section-name-color: #000000;

$light-charcoal:#737373;
$charcoal: #1a1a1a;
$off-white: #f2f2f2;
$light-gray: #e6e6e6;
$dark-gray: #cccccc;
$border-radius: 4px;

$small-font: 16px;
$medium-font:1.5rem;
$large-font:2rem;

$paragraph-font: 1.2rem;
$title-font: 2.5rem;


$bold-font: 700;
$light-font: 400;
$thin-font: 300;

$border:1px solid $dark-gray;


/*MIXINS*/

@mixin project-images($width, $min-width) {
  width:$width;
  max-width: 900px;
  min-width:$min-width;
  height:auto;
  position:relative;
  margin-bottom:1rem;
}

@mixin article-body-font {
  font-family: 'quicksand', sans-serif;
  font-weight:$thin-font;
  line-height:1.5rem;
}

@mixin grayscale {
  filter: grayscale(100%); /* Standard CSS */
  -webkit-filter: grayscale(100%); /* CSS for Webkit Browsers */
  filter: gray;  /* Internet Explorer IE6-9 */
  -webkit-filter: grayscale(1); /* Old WebKit Browsers */
}

/*UTILITIES */


.bold {
  font-weight: $bold-font;
}


.light {
  font-weight: $light-font;
}

.thin {
  font-weight: $thin-font;
}

.italic {
  font-style: italic;
}

.medium-font {
  font-size:1.5rem;
}

.small-font {
  font-size: 16px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.border {
  border:$border;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-weight:$light-font;
  background-color:$light-gray;
}

@mixin full-width-container($height) {
  width:100%;
  height:$height;
}

@mixin section-gradient($first-color, $second-color) {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cccccc+0,cccccc+100&1+0,0+100 */
  background: -moz-linear-gradient(left, $first-color 0%, $second-color 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, $first-color 0%,$second-color 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, $first-color 0%,$second-color 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

@mixin topic-section {
  background-color:$charcoal;
  position:relative;
  .section-name {
    @include full-width-container(auto);
    background-color: $section-name-color;
    h2 {
      font-size:$large-font;
      color:$off-white;
      font-weight:$thin-font;
      margin-left:50px;
      padding:15px;
    }
  }
  .slider {
    div {
      padding:20px;
    }
  }
}

.header-top {
  @include full-width-container(51px);
}

.header-bottom {
  @include full-width-container(40px);
}

.header-top {
  background-color: $charcoal;
  text-align: right;
  #about-me{
    display:none;
    line-height: 50px;
    padding-right:30px;
    text-decoration: none;
    color:$light-gray;
  }
  @media screen and (min-width:550px) {
    #about-me {
      display:inline;
    }
  }
}

#logo {
  position: absolute;
  height:81px;
  width:auto;
  top:0px;
  left:12px;
}

@media screen and (min-width:550px) {
  #logo {
    left:50px;
  }
}

#quote {
  // @include full-width-container(auto);
  background-color:$charcoal;
  box-shadow: 0px 2px 3px black;
  color:#fff;
  position:relative;
  text-align: center;
  padding:15px 5px 15px 5px;
  p {
    font-size:$medium-font;
    font-weight:$thin-font;
  }
  .signature {
    font-size:$small-font;
  }
  @media screen and (min-width: 600px) {
      padding:2px 5px 2px 5px;
    p {
      font-size:$large-font;
      margin:20px 20px 20px 20px;
    }
    .signature {
      font-size:$medium-font;
    }
  }
}

#header-image {
  @include full-width-container(auto);
  vertical-align: top;
}

#skills {
  background-color:$charcoal;
  box-shadow: 0px -2px 5px black;
  color:$off-white;
  text-transform: uppercase;
  text-align: center;
  padding:25px 10px;
  .odd,.even {
    div {
      h2 {
      border-radius:$border-radius;
      padding:10px;
      margin:10px;
      display: inline-block;
      font-size: $medium-font;
      letter-spacing:2px;
      }
      @media screen and (min-width:550px) and (max-width:850px) {
        h2 {
          font-size: $small-font;
        }
      }
    }
  }
  .odd {
    div:nth-child(odd) {
      h2{
      background-color:$off-white;
      color:$charcoal;
      }
    }
  }
  .even {
    div:nth-child(even) {
      h2 {
      background-color:$off-white;
      color:$charcoal;
      }
    }
  }
}

#endorsements {
  @include full-width-container(auto);
  position: relative;
  overflow:auto;
  .one-endorsement {
    width:95%;
    padding:20px 40px;
    text-align: center;
  }
  .one-endorsement:nth-child(odd) {
    float:right;
    @include section-gradient(rgba(230,230,230,0),rgba(230,230,230,1));
    .endorsement-text {
      text-align: right;
      font-weight: $thin-font;
    }
    .endorsement-img {
      margin-left:20px;
    }

  }
  .one-endorsement:nth-child(even) {
    float:left;
    @include section-gradient(rgba(204,204,204,1),rgba(204,204,204,0));
    .endorsement-text {
      text-align: left;
      font-weight: $thin-font;

    }
    .endorsement-img {
      margin-right:20px;
    }
  }
  .endorsement-text {
    display:inline-block;
    width:70%;
    font-size:$medium-font;
    vertical-align: middle;
    margin: 20px 0;
  }
  .endorsement-img {
    width:100px;
    height:100px;
    vertical-align: middle;
  }
  .big-img {
    display:none;
  }
  .small-img {
    display:inline-block;
  }
  @media screen and (min-width:550px) {
    .big-img {
      display:inline-block;
    }
    .small-img {
      display:none;
    }
  }
}

#design, #photography {
  @include topic-section;
}


.image-container {
  width:auto;
  height:auto;
  overflow:hidden;
  .design-image {
    width:auto;
    height:300px;
    box-shadow: 5px 5px 4px #000000;
  }
  .design-image:hover {
    @include grayscale;
  }

}

.parallax-window {
  min-height:450px;
  background: transparent;
}

#social-media {
  position:absolute;
  right:0;
  top:165px;
  background-color:#b3b3b3;
  opacity:.9;
  li {
    font-size:$medium-font;
    padding: 10px 20px;
    .icon {
      width:auto;
      height:30px;
      margin-right:20px;
    }
  }
}

#project-container {
  position: relative;
  #project-header {
    background-color:$charcoal;
    height:300px;
    h2 {
      color:$light-gray;
      text-align: center;
      font-size: $title-font;
      padding-top:30px;
    }
  }
  .project-article-container{
    position:absolute;
    top:6rem;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    div {
      text-align: center;
      .project-hero-shot {
        @include project-images(70%, 350px);
        border:1px solid $dark-gray;
      }
      .project-body-shot {
        @include project-images(100%,0);
        border-radius:10px;
        background-color: $off-white;
      }
      ol {
        @include article-body-font;
        list-style-type: square;
        text-align: left;
        position: relative;
        width:70%;
        margin:0 auto;
        margin-bottom:2rem;
      }
  }
    .project-article {
      background-color:white;
      border:1px solid $dark-gray;
      width:70%;
      max-width: 900px;
      min-width:350px;
      margin:0 auto;
      margin-bottom:3rem;
      h3 {
        color:$light-charcoal;
        font-size: $large-font;
        font-weight: 400;
        text-align: left;
        padding-left:30px;
        margin-top:2rem;
        a {
          text-decoration: none;
          color:$light-charcoal;
        }
      }
      figure {
        background-color: $off-white;
        width:70%;
        margin:0 auto;
        margin-top:3rem;
        margin-bottom:3rem;
        padding:2rem;
        border:$border;
        figcaption {
          color:$light-charcoal;
          font-size: $medium-font;
          font-weight: 400;
          margin-bottom:2rem;
          text-align: left;
          a {
            text-decoration: none;
            color:$light-charcoal;
          }
        }
      }
      p {
        @include article-body-font;
        padding:0 2rem 0 2rem;
        margin:1.25rem 0 1.25rem 0;
        text-align: left;
        font-size: $paragraph-font;
      }
    }
  }
}

footer {
  .row {
    color:$off-white;
    padding:30px 20px 0px 20px;
    height:200px;
    background-color:$light-charcoal;
    .columns {
      h4 {
        font-size:$paragraph-font;
        font-weight:$light-font;
        text-transform: uppercase;
      }
      ul {
        margin-top:.3rem;
        font-weight:$thin-font;
        li {
          line-height:1.5rem;
          img.icons {
            width:15px;
            height:auto;
          }
        }
      }
    }
  }
}
