
body {
	margin:0px;
	padding:0px;
}

header {
	height:80px;
}

h1 {
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-weight:100;
	letter-spacing:6px;
}

#portfolio-container {
	background-color: #f2f2f2;
	margin-top:0px;
	padding-top:30px;
	overflow:auto;
	height:100%;
}

.column {
	height:auto;
	background-size:cover;
	background-repeat: no-rpeat;
	border:1px solid black;
	overflow: auto;
}

.img {
	vertical-align:middle;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;

}

div.image {
	z-index:1;
	position: relative;
	overflow: hidden;
	display: inline-block;
	margin-bottom: 40px;
}

span.title {
	width: 100%;
	position: absolute;
	background: rgba(30,30,30,1);
	text-align: left;
	padding-left: 20px;
	font-size: 14px;
	color: white;
	font-family: "Lucida Sans", "Trebuchet MS", Arial, sans-serif;
	
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
	
}

/* SLIDE UP FULL */

div.image.slideUpFull span { 
	height: 141px;
	bottom: -85px;
}

div.image.slideUpFull:hover img {
	top: -150px;
}

div.image.slideUpFull:hover span {
	bottom: 0px;
}

