
body {
	margin:0px;
	padding:0px;
}

header {
	height:80px;
}

h1 {
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-weight:100;
	letter-spacing:6px;
}

.img {
	display: block;
}

#portfolio-container {
	background-color: #f2f2f2;
	margin-top:0px;
	padding-top:30px;
	overflow:auto;
	height:100%;
}


.portfolio-container-graph .column {
	height:auto;
	background-size:cover;
	background-repeat: no-rpeat;
	border:1px solid black;
	margin-bottom:40px;
	overflow: auto;
}


.portfolio-container-summary {
	background-color: #ffffff;
	border:1px solid black;

	width:50%;
	max-height:100%;
	overflow: auto;
	margin:0 auto;
	margin-bottom:50px;
	margin-top:50px;
	padding:20px;
}

.portfolio-container-summary h2 {
	margin-top:0px;
}
